body{
    display:flex;
    justify-content:space-around;
    flex-direction: column;
}
.container-text {
    display: inline;
    text-align: center;
}
.Contact{
   border: 1px solid #333;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 250px;
   height: 250px;
   line-height: 1.5;
   padding:10px;
   text-align: center;
   margin: 6% auto 0;
}
.me{
    width: 100%;
}
.me input{
    width: 100%;
    margin: 5px;
}
.me button{
    color: white;
    background-color:rgba(0, 0, 255, 0.733);
}